@charset "UTF-8";
@use "../foundation/var";
@use "../foundation/mixin";

#page-lp {
    .bg-red {
        background-color: var.$red;
        padding: 150px 0 20px;
        margin-bottom: 50px;
    }

    .mv {
        width: 80%;
        height: 300px;
        object-fit: cover;
        margin-left: 20%;
        margin-bottom: -40px;
        border: solid 1px var.$gold;

        @include mixin.pc {
            height: 400px;
            width: 70%;
            margin-right: 10%;
        }
    }

    h2 {
        color: white;
        font-size: 24px;
        line-height: 36px;
        margin-bottom: 60px;
        position: relative;

        &::before {
            content: "";
            width: 50px;
            height: 1px;
            background-color: var.$gold;
            position: absolute;
            bottom: -30px;
        }
    }

    p {
        color: var.$gold;
    }

    .flex {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-bottom: 50px;

        @include mixin.tab {
            gap: 40px;

            img {
                width: 60%;
                margin-left: 20%;
            }
        }

        @include mixin.pc {
            flex-direction: row;
            gap: 10%;
            margin-bottom: 100px;

            .text {
                width: 45%;
            }
    
            img {
                width: 45%;
                margin-left: 0;
                object-fit: contain;
            }
        }
    }

    .row-reverse {
        @include mixin.pc {
            flex-direction: row-reverse;
        }
    }

    #pickup {
        background-color: white;
    }

}