@charset "UTF-8";
@use "../foundation/var";
@use "../foundation/mixin";

/*-------- NEWS共通 --------*/
#archive-news, #single-news {
    article {
        padding: 20px 0;
        line-height: 1.2;

        .info {
            display: flex;
            gap: 10px;
            margin-bottom: 10px;

            time {
                font-size: 18px;
            }

            .category {
                background-color: var.$gold;
                color: white;
                font-size: 14px;
                height: 24px;
                padding: 4px 10px;

                &.new {
                    background-color: var.$red;
                }
            }
        }   
    }
}

/*-------- 一覧ページ --------*/
#archive-news {


    .posts {
        margin-top: 50px;
        border-top: solid 1px var.$gold;

        article {
            border-bottom: solid 1px var.$gold;

            h3 a {
                font-size: 18px;
                color: black;
            }
        }
    }
}

/*-------- 詳細ページ --------*/
#single-news {
    article {
        h3 {
            font-size: 24px;
            padding-bottom: 20px;
            border-bottom: solid 1px var.$gold;
            margin-bottom: 30px;
        }

        .text {
            line-height: 1.5;
        }

    }
}