@charset "UTF-8";
@use "../foundation/var";
@use "../foundation/mixin";

header .menu {
    ul {
        a {
            display: block;
            color: white;
            border: solid 1px white;
            border-radius: 30px;
            padding: 10px 40px;
            margin-top: 20px;
            font-size: 18px;
            position: relative;

            &::after {
                content: "＞";
                position: absolute;
                top: 10px;
                right: 40px;
            }
        }
    }
}

/*ノーマル枠線ボタン*/
.button {
    display: block;
    padding: 6px;
    border: 1px solid var.$gold;
    border-radius: 50px;
    text-align: center;
    font-size: 24px;
    position: relative;
    transition: .2s;

    @include mixin.tab {
        width: 350px;
        margin: auto;
    }

    &:hover {
        background-color: var.$gold;
        color: white;
    }

    &::after {
        content: "＞";
        position: absolute;
        top: 10px;
        right: 30px;
    }

    /*背景ベタ塗りボタン*/
    &.bg {
        background-color: var.$gold;
        color: white;

        &:hover {
            background-color: transparent;
            border: 1px solid var.$gold;
            color: var.$gold;
        }
    }
}


/*四角いページ内リンク*/
.ankerlink {
    @include mixin.tab {
        width: 450px;
        margin: auto;
    }

    @include mixin.pc {
        width: 1000px;
        display: flex;
        justify-content: space-between;

        li {
            width: 34%;
            margin-left: -1px;
        }
    }

    li a {
        display: block;
        padding: 10px 40px;
        border: 1px solid var.$gold;
        margin-bottom: -1px;
        font-size: 18px;
        position: relative;

        &::before, &::after {
            content: "";
            width: 12px;
            height: 1px;
            background-color: var.$gold;
            position: absolute;
        }

        &::before {
            transform: rotate(35deg);
            top: 50%;
            right: 40px;
        }

        &::after {
            transform: rotate(-35deg);

            top: 50%;
            right: 30px;
        }
    }
}


/*投稿一覧カテゴリーボタン*/
#archive-news, #archive-blog {
    .category-list {
        text-align: center;
        color: var.$gold;

        ul {
            display: flex;
            justify-content: center;
            gap: 10px;

            li {
                border: solid 1px var.$gold;
                padding: 0 10px;
                font-size: 14px;

                &.active {
                    background-color: var.$gold;
                    color: white;
                }
            }
        }
    }
}